/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,300&display=swap'); */
*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0% 1%;
    font-family: 'Roboto', sans-serif;
    background-color: #5e8583;
}
.logo{
    padding: 7px;
    background-color: #111827;
    display: flex;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
.logo p{
    font-size: 13px;
    color: #eee;
    padding-left: 1%;
}
.logo span{
    color: rgb(202, 202, 20);
}
.logo p i{
    padding: 4px;
    background:linear-gradient(to left,rgb(255, 9, 50), #eee);
    border: 1px solid rgb(206, 206, 25);
    color: #eee;
    border-radius: 100%;
}
.logo2{
    display: flex;
    justify-content: space-between;
    padding: 7px;
    background-color: #eee;
   
}
@media (max-width:500px){
    .logo2{
        display: block;
        width: 100%;
    }
}
.nam {
    display: flex;
    justify-content: space-between;
}
@media (max-width:500px){
    .nam{
        justify-content: center;
     
    }
}
.nam p{
    font-size: 17px;
    border-right: 1px solid #111827;
    text-transform: capitalize;
    padding: 6px 15px;
}
.nam-link{
    display: flex;
}
@media (max-width:500px){
    .nam-link{
      margin-top: 2%;
    }
}
.nam-link a{
    padding: 6px 15px;
    text-decoration: none;
    color: #444;
    font-size: 18px;
}
@media (max-width:500px){
    .nam-link a{
        border: 1px solid #888;
        background-color: #EEE;
        font-size: 14px;
        text-transform: capitalize;
        padding: 3px;
    }
}
.nav1{
    padding: 7px;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #eee;
}
@media (max-width:500px){
    .nav1 {
        display: block;
        padding: 9px;
    } 
}    
.nav1 a{
    text-decoration: none;
    color: #eee;
    font-size: 20px;
    text-transform: capitalize;
    background-color: green;
    padding: 7px 30px;
    border-radius: 100px;
}

@media (max-width:500px){
    .nav1 a{
        padding: 7px 12px;
        font-size: 16px;
        margin-bottom: 1%;
    } 
}

/* nav menu */
/*  */
.menu-logo{
    display: block;
}
@media (max-width:500px){
    .menu-logo{
    display: block;
    }
 }
 .sidenav{
    height: 70%;
    width: 0;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
    top: 10%;
    left:1%;
    background-color: #eee;
    transition: 0.5s;
    display: block;
    padding-top: 60px;
 }
 @media (max-width:500px){
    .sidenav{
        display: block;
    }
 }
 
.sidenav .closebtn{
        position: absolute;
        top: 0%;
        right: 0px;
        font-size: 36px;
        margin-left: 10px;
        color:#eee;
        text-align: right;
        width: fit-content;
        background-color: rgb(215, 80, 80);
        border: 2px solid rgb(215, 80, 80);
        
}
@media (max-width:500px){
    .sidenav .closebtn{
        top: 0%;
        right:0px;
        font-size: 36px;
        margin-left: 10px;
        color:#eee;
        text-align: right;
        width: fit-content;
        background-color: rgb(215, 80, 80);
        border: 2px solid rgb(215, 80, 80);
    }
 }
 .sidenav .link{
    padding: 14px;
    border-bottom: 0.2px solid #dddddd;
    width: 98%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
 }
 @media (max-width:500px){
    .sidenav .link{
    padding: 6px;
    border-bottom: 0.2px solid #dddddd;
    margin-top: 0%;
    }
 }

.sidenav a{
   
    font-size: 19px;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    /* color:#333; */
    text-decoration: none;
    text-align: left;
    align-items: left;
    padding: 10px;
    width: 100%;
    padding-top: 1%;
    color: #444;
    
    
}
@media (max-width:500px){
    .sidenav a{
       display: block;
       margin-top: 1%;
       padding: 17px; 
       color: #555;
       border-bottom: 0.2px solid #eee;
       /* background-color: #EEE; */
       text-align: left;
    }
}
.sidenav .link:hover{
    /* text-decoration: underline; */
    color: #f1f1f1;
    background-color: royalblue;
}
@media (max-width:500px){
    .sidenav .link:hover{
   background-color: #ffff;
   color: #eee;
    }
 }
.sidenav .link img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

/*  */

.header h1{
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 7px;
    text-decoration: none;
    border: 2px solid #333;
    color: #dbd3d3;
    text-align: center;
}
.header p{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 4px;
    color: #dbd3d3;
    text-align: center;
}
/*  */

/*  tabs section*/
.list-container-one{
    background-color: rgb(88, 7, 7);
    padding-bottom: 1px;
}
[data-tab-content]{
    display: none;
}
[data-tab-content].active{
    display: block;
   
}
.list{
    align-items: center;
    text-align: center;
}
@media(max-width:991px){
    .list{
        line-height: 15px;
    }
  }
  .list ul{
    /* background-color: #eee; */
    padding: 5px;
    margin: 0% 0%;

}
.list ul li{
    padding: 8px;
    margin-bottom: 2vh;
    color: #333;
}
@media(max-width:991px){
    .list ul li{
        line-height: 7px;
       
    }
  }
@media(max-width:768px){
    .list ul li{
      line-height: 7px;
    }
  }
.list .tabs{
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin: 0% 1%;
    padding: 10px 40px;
    cursor: pointer;
    background-color:#eee;
    /* border-bottom: 2px solid green; */
    border: 1px solid rgb(115, 205, 183);
    text-align: center;
    /* border-radius: 100px; */
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 1vh;
    margin-bottom: 1%;
    margin-right: 3%;

}
@media (max-width:500px){
    .list .tabs{
        padding: 10px 15px;
        margin-right: 1%;
        font-size: 16px;
        text-transform: capitalize;
        margin: 0%;
    }  
}
.list .tabs:hover{
    color: #000;;
    background-color:#7cd3d0;
    border-radius: 100px;
}
.list .tabs.active{
    background-color: #7cd3d0;
    color: #EEE;
}

.tab-content{
    margin: 0% 1%;
}

/*  */

.sides{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid #333; */
   width: 94%;
   margin: 1% 4%;
   background-color: #eee;
   border-radius: 6px;
}
@media (max-width:500px){
    .sides{
        display: block;
    }   
}
.sides .image{
    width: 40%;
    /* background-color: #111827; */
}
@media (max-width:500px){
    .sides .image{
        width: 100%;
        padding: 0%;
    }
}
.sides .image img{
    width: 100%;
    padding: 0px;
    height: auto;
    border: 1px solid #EEE;
   
}
@media (max-width:500px){
    .sides .image img{
        width: 100%;
        padding: 0%;
        height: 200px;
    }
}
.sides .news{
    width: 60%;
    padding: 10px;
    margin-left: 3%;
    /* border-left: 4px solid #46a7a3; */
}
@media (max-width:500px){
    .sides .news{
        width: 100%;
        padding: 0%;
        margin: 0%;
    }  
}
.news-header h2{
    font-size: 23px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 7px;
    text-decoration: none;
    border: 2px solid #eee;
    color: #333;
    text-align: center;
    background-color: #fff;
}

.slogan p{
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 7px;
    text-decoration: none;
    text-align: center;
}
.advert{
    width: 100%;
}
.slide-icons{
    display: flex;
    justify-content: space-between;
    margin: 1% 8%;
}
.slide-icons .icons i{
    color: orange;
    font-size: 16px;
}
.ad-under i{
    /* display: flex; */
    margin-right: 2%;
    font-size: 14px;
    color: rgb(14, 121, 94);
    padding: 5px 30px;
}
.overview h1{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 7px;
    text-decoration: none;
    border: 2px solid #eee;
    background-color: #eee;
    color: #333;
    text-align: center;
}
.overview p{
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 7px;
    text-decoration: none;
    text-align: center;
}
.show-pics h3{
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 7px;
    text-decoration: none;
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-start: 1;
    gap:4px;
    margin: 1% 0%;
    width: 100%;
 
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% auto;
}
.grid .image{
    margin: 1% 0%;
    /* border: 2px solid red; */
    /* padding: 10px; */
    width: 100%;
    background-color: #eee;
}
.grid .image img{
    width: 170px;
    height: 170px;
}
@media (max-width:500px){
    .grid .image img{
        width: 170px;
        height: 180px;
    }
}
.grid .image h4{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    color: #333;
}
.grid .image p{
    font-size: 10px;
    text-transform: capitalize;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    color: green;
}
#backBtn,
#nextBtn {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    padding: 5px;
}
@media (max-width:500px){
    #backBtn img,
#nextBtn img{
        height: 30px;
        padding: 2px;
    }
     }
#backBtn,
#nextBtn{
    width: 20px;
    cursor: pointer;
    margin: 40px;
    border-radius: 100px;
}
@media (max-width:500px){
    #backBtn,
    #nextBtn{
        width: 15px;
        margin: 5px; 
        height: 15px; 
    }
}
.input-under{
    margin: 0% 1%;
  
}
.input-under ul{
    align-items: center;
    text-align: center;
    display: flex;
}
.input-under ul li{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    padding: 7px 30px;
    color: #555;
    text-align: center;
    border: 2px solid #eee;
    /* background-color: #eee; */
}


/* tab 3 */

.container-fluid{
    width: 100%;
    height: auto;
    padding: 0px 0px 20px 0px;
}
@media (max-width:500px){
    .container-fluid{
        padding: 0px;
    }
}   
.tab3-container{
    width: 1200px;
    height: auto;
    margin: auto;
}
@media (max-width:500px){
    .tab3-container{
        width: 100%;
        height: 70vh;
        overflow: scroll;
        align-items: center;
        text-align: center;
    } 
}
.tab3-container .search{
    display: flex;
    padding: 30px 0px;
    justify-content: space-between;
}
@media (max-width:500px){
    .tab3-container .search{
        display: block;
        padding: 30px 0px;
    }  
}
.tab3-container .search h1{
    letter-spacing: 3px;
    display: inline-block;
    border-bottom: 2px solid limegreen;
    color: #eee;
    padding-bottom: 10px;
}
.tab3-container .search input{
    width: 60%;
    padding: 5px 16px;
    background: transparent;
    border: 1px solid #000;
    background-color: #eee;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: capitalize;
    outline: none;
}
.tab3-container .search input::placeholder{
    color: green;
    font-weight: 500;
}
.product-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;

}
@media (max-width:500px){
    .product-list{
        width: 100%;
        align-items: center;
        text-align: center;
    }
}
.product{
    margin-top: 30px;
    box-shadow: 5px 5px 5px #333;
    border: 1px solid #eee;
    background-color: #eee;
}
@media (max-width:500px){
    .product{
        width: 100%;
        align-items: center;
        text-align: center;
    }
}
.product h2{
    padding-top: 5px;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 22px;
    color: #444;
    text-transform: capitalize;
}
.product h4{
    padding: 3px 0px;
    color: red;
    font-weight: 500;
    letter-spacing: 3px;
}

/*  */
.footer{
    margin-top: 0vh;
    padding: 8px;
    background-color: #111827;
    /* background-color: rgb(14, 121, 94); */
  }
  .footer h1{
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: #555;
  }
  .footer p{
    text-transform: uppercase;
    font-size: 13px ;
    text-align: center;
    padding: 8px;
    color:orange;
  }