@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0% 1%;
    font-family: 'Roboto', sans-serif;
}
.logo{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #12343b;
}
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 3px;
}
.logo p{
    color: #eee;
    font-size: 13px;
    text-transform: capitalize;
}
.logo2{
    display: flex;
    justify-content: space-between;
    padding: 7px;
    background-color: #eee;
    
}
@media (max-width:500px){
    .logo2{
        display: block;
        width: 100%;
    }
}
.nam {
    display: flex;
    justify-content: space-between;
}
@media (max-width:500px){
    .nam{
        justify-content: center;
     
    }
}
.nam p{
    font-size: 17px;
    border-right: 1px solid #111827;
    text-transform: capitalize;
    padding: 6px 15px;
}
.nam-link{
    display: flex;
}
@media (max-width:500px){
    .nam-link{
      margin-top: 2%;
    }
}
.nam-link a{
    padding: 6px 15px;
    text-decoration: none;
    color: #444;
    font-size: 18px;
}
@media (max-width:500px){
    .nam-link a{
        border: 1px solid #888;
        background-color: #EEE;
        font-size: 14px;
        text-transform: capitalize;
        padding: 4px;
    }
}
/*  */
/*  */
/* nav menu */
/*  */
.menu-logo{
    display: block;
}
@media (max-width:500px){
    .menu-logo{
    display: block;
    }
 }
 .sidenav{
    height: 70%;
    width: 0;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
    top: 10%;
    left:1%;
    background-color: #eee;
    transition: 0.5s;
    display: block;
    padding-top: 60px;
 }
 @media (max-width:500px){
    .sidenav{
        display: block;
    }
 }
 
.sidenav .closebtn{
        position: absolute;
        top: 0%;
        right: 0px;
        font-size: 36px;
        margin-left: 10px;
        color:#eee;
        text-align: right;
        width: fit-content;
        background-color: rgb(215, 80, 80);
        border: 2px solid rgb(215, 80, 80);
        
}
@media (max-width:500px){
    .sidenav .closebtn{
        top: 0%;
        right:0px;
        font-size: 36px;
        margin-left: 10px;
        color:#eee;
        text-align: right;
        width: fit-content;
        background-color: rgb(215, 80, 80);
        border: 2px solid rgb(215, 80, 80);
    }
 }
 .sidenav .link{
    padding: 14px;
    border-bottom: 0.2px solid #dddddd;
    width: 98%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
 }
 @media (max-width:500px){
    .sidenav .link{
    padding: 6px;
    border-bottom: 0.2px solid #dddddd;
    margin-top: 0%;
    }
 }

.sidenav a{
   
    font-size: 19px;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    /* color:#333; */
    text-decoration: none;
    text-align: left;
    align-items: left;
    padding: 10px;
    width: 100%;
    padding-top: 1%;
    color: #444;
    
    
}
@media (max-width:500px){
    .sidenav a{
       display: block;
       margin-top: 1%;
       padding: 17px; 
       color: #555;
       border-bottom: 0.2px solid #eee;
       /* background-color: #EEE; */
       text-align: left;
    }
}
.sidenav .link:hover{
    /* text-decoration: underline; */
    color: #f1f1f1;
    background-color: royalblue;
}
@media (max-width:500px){
    .sidenav .link:hover{
   background-color: #ffff;
   color: #eee;
    }
 }
.sidenav .link img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

/*  */

.library-header h1{
    text-align: center;
    font-size: 17px;
    color: #cac5c5;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    /* background-color: #111827 */
   
}
.content{
    display: flex;
    margin-top: 2%;
}
@media (max-width:500px){
    .content{
        display: block;
    } 
}
.content-info-1{
    width: 50%;
}
@media (max-width:500px){
    .content-info-1{
        width: 100%;
    }
}
.content-info-2{
    width: 50%;
}
@media (max-width:500px){
    .content-info-2{
        width: 100%;
    } 
}
.image-container{
    width: 100%;
    /* border: 2px solid #12343b; */
}
.image-container img{
    width: 100%;
    height: 400px;
    border: 1px solid green;
}
@media (max-width:500px){
    .image-container img{
        width: 100%;
        height: 240px;
    }
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-start: 1;
    gap:4px;
    margin: 1% 0%;
    width: 100%;
 
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery-wrap{
    display: flex;
    align-items: center;
    background-color: #12343b;
    border: 2px solid green;
    justify-content: center;
    margin: 1% auto;
}
.grid .image{
    margin: 1% 0%;
    /* border: 2px solid red; */
    /* padding: 10px; */
    width: 100%;
    /* background-color: #ffff; */
}
.grid .image img{
    width: 120px;
    height: 100px;
    border: 1px solid green;
}
@media (max-width:500px){
    .grid .image img{
        width: 110px;
        height: 100px;
    }
}
.grid .image h4{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    color: #333;
}
.grid .image p{
    font-size: 10px;
    text-transform: capitalize;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    color: green;
}
#backBtn,
#nextBtn {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    padding: 2px;
}
@media (max-width:500px){
    #backBtn img,
#nextBtn img{
        height: 30px;
        padding: 2px;
    }
     }
#backBtn,
#nextBtn{
    width: 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 100px;
}
@media (max-width:500px){
    #backBtn,
    #nextBtn{
        width: 15px;
        margin: 5px; 
        height: 15px; 
    }
}
/*  */
.full-img{
    width: 49%;
    /* margin: 4% 0%; */
    height: 55vh;
    /* background: rgb(0,0,0,0.9); */
    position: fixed;
    top: 19vh;
    left: 1%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
 }
 @media (max-width:500px){
    .full-img{
        height: 29vh;
        width: 98%;
    }
 }
 .full-img img{
    height: 100%;
    /* margin: 1% 1%; */
 }
 .full-img span{
    position:absolute;
    top:9%;
    right:5%;
    width: 40px;
    align-items: center;
    text-align: center;
    height: 40px;
    font-size: 30px;
    color: rgb(215, 80, 80);
    background-color: #fff;
    border: 2px solid #fff;
    border-radius:50%;
    border: 2px solid #EEE;
    cursor: pointer
 }

 /*  */
 .info-container h1{
    text-align: center;
    font-size: 22px;
    color: #333;
    text-transform: capitalize;
    padding: 7px;
    /* background-color: rgb(200, 160, 59); */

 }
 @media (max-width:500px){
 .info-container h1{
    background-color: #eee;
    margin-top: 1%;
 }
}
 .info-2{
    margin: 1% 4%;
 }
 .info-2 p{
    font-size: 15px;
    color: #555;
 }
 .harvest{
    margin: 2% 4%;
 }
 .harvest h3{
    text-align: center;
    font-size: 22px;
    color: #eee;
    text-transform: capitalize;
    padding: 7px;
    background-color: #12343b;
 }
 .harvest ul li{
    list-style:none;
    text-align:left;
    font-size: 17px;
    color: #333;
    text-transform: capitalize;
    margin-top: 1%;
    border: 1px solid rgb(200, 160, 59);
    padding: 7px;
   
 }
 .harvest ul li img{
    width: 50px;
    height: 30px;
    margin: 0% 3%;
 }
 /*  */
/*  */
.footer{
    margin-top: 0vh;
    padding: 8px;
    background-color: #111827;
    /* background-color: rgb(14, 121, 94); */
  }
  .footer h1{
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: #555;
  }
  .footer p{
    text-transform: uppercase;
    font-size: 13px ;
    text-align: center;
    padding: 8px;
    color:orange;
  }



